body{
    font-family: Arial;
}

.order_declined{
    /*background-color: #fc8a76;*/
    background-color: #DC3545;
}

.order_executed{
    /*background-color: #8ddb8c;*/
    background-color: #28A745;
}

.order_created{
    /*background-color: #e5d97b;*/
    background-color: #FFC107;
}

.order_table_font{
    color: white;
}

.order_declined_font{
    /*color: #fc8a76;*/
    color: #DC3545;
}

.order_executed_font{
    /*color: #8ddb8c;*/
    color: #28A745;
}

.order_created_font{
    /*color: #e5d97b;*/
    color: #FFC107;
}

.edit{
    background-image: url("../icons/edit.png");
    width: 20px;
    height: 20px;
    background-size: 20px;
}

.search{
    background-image: url("../icons/search.png");
    width: 20px;
    height: 20px;
    background-size: 20px;
}

.loop{
    background-image: url("../icons/loop.png");
    width: 20px;
    height: 20px;
    background-size: 20px;
}

.reject{
    background-image: url("../icons/reject.png");
    width: 20px;
    height: 20px;
    background-size: 20px;
}

/* overrides */
.table-hover tbody tr:hover{
    background-color: #f9f9f9;
    color: black;
}