<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: header"></head>
    <body>
        <div class="container" style="margin-top: 10px;">
            <div class="card">
                <div class="card-block" style="margin: 5px;">
                    <div th:if="${info != null}" class="alert alert-info" role="alert">
                        [[${info}]]
                    </div>
                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-info" role="alert">
                        You have been logged out.
                    </div>
                    <form th:action="@{/login}" method="post">
                        <div class="form-group row">
                            <label for="username" class="col-2 col-form-label">User name:</label>
                            <div class="col-10">
                                <input class="form-control" type="text" name="username" value="" id="username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-2 col-form-label">Password:</label>
                            <div class="col-10">
                                <input class="form-control" type="password" name="password" value="" id="password">
                            </div>
                        </div>
                        <div style="display:inline-block; vertical-align: middle;">
                            <button type="submit" class="btn btn-success">Login</button>
                            <a class="btn btn-primary" th:href="@{/registration}" th:text="#{login.register}"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="template :: footer"></div>
    </body>
</html>