<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: header"></head>
    <body>
        <div class="container" style="margin-top: 10px;">
            <div class="card">
                <div class="card-block">
                    <div th:replace="template :: user"></div>
                </div>
                <div class="card-block">
                    <table id="messagesTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <a th:href="@{/messages(ascending=${!ascending}, sortBy='id')}" th:text="#{messages.id}"/>
                                </th>
                                <th>
                                    <a th:href="@{/messages(ascending=${!ascending}, sortBy='timestamp')}" th:text="#{messages.date}"/>
                                </th>
                                <th>
                                    <a th:href="@{/messages(ascending=${!ascending}, sortBy='status')}" th:text="#{messages.status}"/>
                                </th>
                                <th>
                                    <a th:href="@{/messages(ascending=${!ascending}, sortBy='message')}" th:text="#{messages.message}"/>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="clickable-row" th:each="myMessage :${myMessages}"
                                th:onclick="'handleMessageRowClick($(this), \'' + ${myMessage.id} + '\')'">
                                <td th:text="${myMessage.id}"></td>
                                <td onclick="handleDateEdit($(this))">
                                    <table style="width: 160px;">
                                        <tr>
                                            <td style="padding: 0px; border: 0px;">
                                                <div style="width: 100%;" class="messageDateLabel">
                                                    [[${#dates.format(myMessage.timestamp, 'dd.MM.yyyy.')}]]
                                                </div>
                                            </td>
                                            <td style="padding: 0px; border: 0px;">
                                                <input th:onchange="'handleDateChange($(this), \'' + ${myMessage.id} + '\')'"
                                                       type="text" class="form-control messageDatePicker" style="display: none"
                                                       th:value="${#dates.format(myMessage.timestamp, 'dd.MM.yyyy')}"/>
                                            </td>
                                            <td style="padding: 0px; border: 0px;">
                                                <button type="button" class="btn btn-danger messageDatePickerClose"
                                                        style="display: none; margin-left: 10px" onclick="handleDatePickerClose(event, $(this))">
                                                    <span class="oi oi-x oi-md"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td th:text="${myMessage.status}"></td>
                                <td th:text="${myMessage.message}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <ul class="nav nav-pills" style="margin: 10px;">
                        <li class="nav-item" th:each="i : ${#numbers.sequence(0, pageCount-1)}">
                            <a th:href="@{/messages(pageNo=${i})}" th:text="${i+1}" class="nav-link"
                                th:classappend="${currentPage}==${i}?'active':''"></a>
                        </li>
                    </ul>
                    <hr/>
                    <form style="margin: 10px;" method="post" th:action="@{/messages/deleteSelectedMessage}">
                        <div style="display:inline-block; vertical-align: middle;">
                            <button id="addMessageButton" type="button" class="btn btn-success"
                                    style="margin: 10px;" th:text="#{messages.new}"/>
                            <button id="deleteMessageButton" type="submit" class="btn btn-danger"
                                style="display: none;" th:text="#{messages.delete}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="template :: messageFormPopup"></div>
        <div th:replace="template :: footer"></div>
    </body>
</html>