<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: header"></head>
    <body>
        <script type="application/javascript">
            /**
             * Show order details AJAX request handler.
             * @param orderId
             */
            function handleOrderDetails(orderId){
                $.get("/payment_orders/payment_order_details", {'orderId' : orderId}, function (data) {
                    $("#orderDetailsModalBody").html(data);
                    $("#orderDetailsModal").modal();
                });
            }

            /**
             * Submits the action form with 'executeOrder' action.
             * @param orderId
             */
            function handleExecuteOrder(orderId){
                var actionUrl = '[[@{/payment_orders/executeOrder}]]';
                $("#actionForm").attr('action', actionUrl);
                $("#orderIdHidden").attr('value', orderId);
                $("#actionForm").submit();
            }

            /**
             * Submits the action form with 'declineOrder' action.
             * @param orderId
             */
            function handleDeclineOrder(orderId){
                var actionUrl = '[[@{/payment_orders/declineOrder}]]';
                $("#actionForm").attr('action', actionUrl);
                $("#orderIdHidden").attr('value', orderId);
                $("#actionForm").submit();
            }
        </script>
        <div class="container" style="margin-top: 10px;">
            <div class="card">
                <div class="card-block">
                    <div th:replace="template :: user"></div>
                </div>
                <div class="card-block">
                    <div th:each="wsError :${response.errors}" class="alert alert-danger" style="margin: 10px" role="alert">
                        [[${wsError.messageString}]]
                    </div>
                    <div th:each="wsInfo :${response.infos}" class="alert alert-info" style="margin: 10px" role="alert">
                        [[${wsInfo.messageString}]]
                    </div>
                    <div class="dropdown" style="margin: 1rem;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:classappend="${status} == 0  ? '' : 'd-none'">[[#{common.filter}]] - [[#{payment_orders.all}]]</span>
                            <span th:classappend="${status} == 1  ? '' : 'd-none'">[[#{common.filter}]] - [[#{payment_orders.created}]]</span>
                            <span th:classappend="${status} == 2  ? '' : 'd-none'">[[#{common.filter}]] - [[#{payment_orders.executed}]]</span>
                            <span th:classappend="${status} == 3  ? '' : 'd-none'">[[#{common.filter}]] - [[#{payment_orders.declined}]]</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{/payment_orders(ascending=${!ascending}, sortBy='amount')}"
                               th:text="#{payment_orders.all}"/>
                            <a class="dropdown-item order_created_font" th:href="@{/payment_orders(ascending=${!ascending}, sortBy='amount', status=1)}"
                               th:text="#{payment_orders.created}"/>
                            <a class="dropdown-item order_executed_font" th:href="@{/payment_orders(ascending=${!ascending}, sortBy='amount', status=2)}"
                               th:text="#{payment_orders.executed}"/>
                            <a class="dropdown-item order_declined_font" th:href="@{/payment_orders(ascending=${!ascending}, sortBy='amount', status=3)}"
                               th:text="#{payment_orders.declined}"/>
                        </div>
                    </div>
                    <table id="messagesTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <a th:href="@{/payment_orders(ascending=${!ascending}, sortBy='amount', status=${status})}"
                                       th:text="#{payment_orders.amount}"/>
                                </th>
                                <th>
                                    <a th:href="@{/payment_orders(ascending=${!ascending}, sortBy='created', status=${status})}"
                                       th:text="#{payment_orders.created}"/>
                                </th>
                                <th>
                                    <a th:href="@{/payment_orders(ascending=${!ascending}, sortBy='payeeLastName', status=${status})}"
                                       th:text="#{payment_orders.payer}"/>
                                </th>
                                <th>
                                    <a th:href="@{/payment_orders(ascending=${!ascending}, sortBy='payeeLastName', status=${status})}"
                                       th:text="#{payment_orders.payee}"/>
                                </th>
                                <th>
                                    <a th:href="@{/payment_orders(ascending=${!ascending}, sortBy='creditAccount', status=${status})}"
                                       th:text="#{payment_orders.credit_account}"/>
                                </th>
                                <th>
                                    <a th:href="@{/payment_orders(ascending=${!ascending}, sortBy='debitAccount', status=${status})}"
                                       th:text="#{payment_orders.debit_account}"/>
                                </th>
                                <th th:classappend="${isAdmin} == true ? '' : 'd-none'" th:text="#{common.actions}"/>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="clickable-row" th:each="paymentOrderDTO :${paymentOrderDTOs}"
                                th:classappend="${paymentOrderDTO.style} + ' order_table_font'" data-toggle="tooltip" data-placement="right"
                                th:title="${paymentOrderDTO.statusName}">
                                <td th:text="${#numbers.formatDecimal(paymentOrderDTO.amount, 0, 'POINT', 2, 'COMMA')}"></td>
                                <td th:text="${#temporals.format(paymentOrderDTO.created, 'dd.MM.yyyy')}"></td>
                                <td th:text="${paymentOrderDTO.payerFirstName + ' ' + paymentOrderDTO.payerLastName}"></td>
                                <td th:text="${paymentOrderDTO.payeeFirstName + ' ' + paymentOrderDTO.payeeLastName}"></td>
                                <td th:text="${paymentOrderDTO.creditAccount}"></td>
                                <td th:text="${paymentOrderDTO.debitAccount}"></td>
                                <td style="padding-bottom: 0px; padding-top: 0px; vertical-align: middle;"
                                    th:classappend="${isAdmin} == true ? '' : 'd-none'">
                                    <button id="showOrderDetailsButton" type="button" class="btn btn-info"
                                            th:onclick="'handleOrderDetails(\'' + ${paymentOrderDTO.id} + '\')'"
                                            th:title="#{payment_orders.view_details_title}" data-toggle="tooltip">
                                        <div class="search"></div>
                                    </button>
                                    <button id="executeOrderButton" type="button" class="btn btn-info"
                                            th:onclick="'handleExecuteOrder(\'' + ${paymentOrderDTO.id} + '\')'"
                                            th:title="#{payment_orders.process_order_title}" data-toggle="tooltip"
                                            th:classappend="${paymentOrderDTO.status} == 1 ? '' : 'd-none'">
                                        <div class="loop"></div>
                                    </button>
                                    <button id="declineOrderButton" type="button" class="btn btn-info"
                                            th:onclick="'handleDeclineOrder(\'' + ${paymentOrderDTO.id} + '\')'"
                                            th:title="#{payment_orders.decline_order_title}" data-toggle="tooltip"
                                            th:classappend="${paymentOrderDTO.status} == 1 ? '' : 'd-none'">
                                        <div class="reject"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <ul class="nav nav-pills" style="margin: 10px;" th:classappend="${pageCount} < 2  ? 'd-none' : ''">
                        <li class="nav-item" th:each="i : ${#numbers.sequence(0, pageCount-1)}">
                            <a th:href="@{/payment_orders(pageNo=${i}, status=${status})}" th:text="${i+1}" class="nav-link"
                               th:classappend="${currentPage} == ${i} ? 'active' : '' "></a>
                        </li>
                    </ul>
                    <hr th:classappend="${isAdmin} == true ? 'd-none' : ''">
                    <button id="addOrderButton" type="button" class="btn btn-success" style="margin-left: 1rem; margin-bottom: 1rem;"
                            th:classappend="${isAdmin} == true ? 'd-none' : ''" th:text="#{payment_orders.new_order}"/>
                </div>
            </div>
        </div>
        <div class="modal fade" id="orderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Order details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="orderDetailsModalBody" class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="template :: orderFormPopup"></div>
        <div th:replace="template :: footer"></div>
        <form id="actionForm" method="post">
            <input id="orderIdHidden" type="hidden" name="orderId">
        </form>
    </body>
</html>