<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="card" style="width: 766px">
        <div class="card-block">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card" style="margin: 10px;">
                        <div class="card-header">Payer - acc. no. <b>[[${paymentOrderDTO.creditAccount}]]</b></div>
                        <div class="card-block" style="padding: 5px;">
                            <div class="row">
                                <div class="col">First name:</div>
                                <div class="col" th:text="${paymentOrderDTO.payerFirstName}"/>
                            </div>
                            <div class="row">
                                <div class="col">Last name:</div>
                                <div class="col" th:text="${paymentOrderDTO.payerLastName}"/>
                            </div>
                            <div class="row">
                                <div class="col">Phone:</div>
                                <div class="col" th:text="${paymentOrderDTO.payerPhone}"/>
                            </div>
                            <div class="row">
                                <div class="col">E-mail:</div>
                                <div class="col" th:text="${paymentOrderDTO.payerEmail}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card" style="margin: 10px;">
                        <div class="card-header">Payee - acc. no. <b>[[${paymentOrderDTO.debitAccount}]]</b></div>
                        <div class="card-block" style="padding: 5px;">
                            <div class="row">
                                <div class="col">First name:</div>
                                <div class="col" th:text="${paymentOrderDTO.payeeFirstName}"/>
                            </div>
                            <div class="row">
                                <div class="col">Last name:</div>
                                <div class="col" th:text="${paymentOrderDTO.payeeLastName}"/>
                            </div>
                            <div class="row">
                                <div class="col">Phone:</div>
                                <div class="col" th:text="${paymentOrderDTO.payeePhone}"/>
                            </div>
                            <div class="row">
                                <div class="col">E-mail:</div>
                                <div class="col" th:text="${paymentOrderDTO.payeeEmail}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col text-right">Amount:</div>
                <div class="col text-left" th:text="${#numbers.formatDecimal(paymentOrderDTO.amount, 0, 'POINT', 2, 'COMMA')}"/>
            </div>
            <div class="row justify-content-around">
                <div class="col text-right">Status:</div>
                <div class="col text-left" style="font-weight: bold;" th:classappend="${paymentOrderDTO.style} + '_font'" th:text="${paymentOrderDTO.statusName}"/>
            </div>
            <div class="row justify-content-around">
                <div class="col text-right">Created:</div>
                <div class="col text-left" th:text="${#temporals.format(paymentOrderDTO.created, 'dd.MM.yyyy HH:mm:ss')}"/>
            </div>
            <div class="row justify-content-around">
                <div class="col text-right">Modified:</div>
                <div class="col text-left" th:text="${#temporals.format(paymentOrderDTO.modified, 'dd.MM.yyyy HH:mm:ss')}"/>
            </div>
        </div>
    </div>
</html>