<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: header"></head>
    <body>
        <div class="container" style="margin-top: 10px;">
            <div class="card">
                <div class="card-block">
                    <div th:if="${error != null}" class="alert alert-danger" style="margin: 10px" role="alert">
                        [[${error}]]
                    </div>
                    <div th:each="wsError :${response.errors}" class="alert alert-danger" style="margin: 10px" role="alert">
                        [[${wsError.messageString}]]
                    </div>
                    <form style="margin: 10px;" method="post" th:action="@{/registration/saveUser}">
                        <div class="form-group row">
                            <label for="username" class="col-2 col-form-label" th:text="#{registration.username}"></label>
                            <div class="col-10">
                                <input class="form-control" type="text" name="userName" th:value="${bankUserDTO.userName}" id="username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-2 col-form-label" th:text="#{registration.password}"></label>
                            <div class="col-10">
                                <input class="form-control" type="password" name="userPassword" th:value="${bankUserDTO.userPassword}" id="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password_repeat" class="col-2 col-form-label" th:text="#{registration.password_repeat}"></label>
                            <div class="col-10">
                                <input class="form-control" type="password" name="userPasswordRepeat" th:value="${bankUserDTO.userPasswordRepeat}" id="password_repeat">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="first_name" class="col-2 col-form-label" th:text="#{registration.user_first_name}"></label>
                            <div class="col-10">
                                <input class="form-control" type="text" name="userFirstName" th:value="${bankUserDTO.userFirstName}" id="first_name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="last_name" class="col-2 col-form-label" th:text="#{registration.user_last_name}"></label>
                            <div class="col-10">
                                <input class="form-control" type="text" name="userLastName" th:value="${bankUserDTO.userLastName}" id="last_name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-2 col-form-label" th:text="#{registration.user_email}"></label>
                            <div class="col-10">
                                <input class="form-control" type="text" name="userEmail" th:value="${bankUserDTO.userEmail}" id="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="col-2 col-form-label" th:text="#{registration.user_phone}"></label>
                            <div class="col-10">
                                <input class="form-control" type="text" name="userPhone" th:value="${bankUserDTO.userPhone}" id="phone">
                            </div>
                        </div>
                        <div style="display:inline-block; vertical-align: middle;">
                            <button id="registerButton" type="submit" class="btn btn-success"
                                    th:text="#{registration.register}"></button>
                            <a class="btn btn-primary" th:href="@{/login}" th:text="#{registration.login}"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="template :: footer"></div>
    </body>
</html>