<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
        <script type="application/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script type="application/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="application/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
        <script type="application/javascript" th:src="@{/webjars/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js}"></script>
        <script type="application/javascript" th:src="@{/js/script.js}"></script>
    </head>

    <div th:fragment="user" style="width: 100%;">
        <ul class="nav nav-pills" style="float: left; margin: 1rem;">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/payment_orders(ascending=${!ascending}, sortBy='amount')}"
                   th:classappend="${activeView == 'payment_orders' ? 'active' : ''}" th:text="#{navigation.payment_orders}"/>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/messages(ascending=${!ascending}, sortBy='id')}"
                   th:classappend="${activeView == 'messages' ? 'active' : ''}" th:text="#{navigation.messages}"/>
            </li>
        </ul>
        <table style="width: 300px; float: right; margin: 1rem;">
            <tr>
                <td>
                    Logged in as: <strong>[[${#httpServletRequest.remoteUser}]]</strong>
                </td>
                <td>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-primary">Sign out</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div th:fragment="footer" style="width: 100%; text-align: center">
        <div>Copyright &copy; Nikola Šaub</div>
    </div>

    <div th:fragment="messageFormPopup" class="messageForm">
        <form th:action="@{/messages/saveMessage}" method="post">
            <div class="modal fade" id="messageFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="message" class="col-form-label">Message:</label>
                                <textarea type="text" class="form-control" id="message" name="message"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Send message</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:fragment="orderFormPopup" class="orderForm">
        <form th:action="@{/payment_orders/saveOrder}" method="post">
            <div class="modal fade" id="orderFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New order</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="amount" class="col-form-label">Amount:</label>
                                <input type="text" class="form-control" id="amount" name="amount"/>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="debitAccount" class="col-form-label">Debit account number:</label>
                                <input type="text" class="form-control" id="debitAccount" name="debitAccount"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</html>